html {
	font-size:46%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.pencarian-cuX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pencarian-cuX .auto-group-rfyd-3V3 {
  box-sizing: border-box;
  padding: 0rem 0rem 14.385rem 0.1rem;
  width: 100%;
  height: 118rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 {
  margin-bottom: 10.4rem;
  width: 100%;
  height: 14.3rem;
  position: relative;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .rectangle-3-Cem {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 12.3rem;
  top: 8.6rem;
  background-color: rgba(68, 194, 234, 0.8000000119);
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw {
  box-sizing: border-box;
  padding: 3.7rem 9.6rem 3rem 10.1rem;
  width: 191.9rem;
  height: 14.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0 #000000;
  box-shadow: 0 0.4rem 1.4rem #9a9a9a;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .sigiat-9iR {
  margin-right: 45.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .tentang-kami-3Yu {
  margin-right: 10.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .kegiatanku-mjo {
  margin-right: 10.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .admin-t3j {
  margin: 0.6rem 22.8rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .log-in-yqs {
  margin-right: 4.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-77c7-Gm7 .navbar-gZw .auto-group-5hkr-WL1 {
  width: 19.3rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335acb;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .cari-kegiatan-usw {
  margin: 0rem 0.2rem 3.2rem 0rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #335acb;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .search-section-bkm {
  margin: 0rem 33.2rem 4.6rem 37rem;
  box-sizing: border-box;
  padding: 1.7rem 46.4rem 1.7rem 4.628rem;
  width: calc(100% - 70.2rem);
  height: 9.8rem;
  display: flex;
  align-items: center;
  border: solid 0 #000000;
  box-shadow: 0 0.4rem 1.4rem #9a9a9a;
  background-color: #ffffff;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .search-section-bkm .icon-5A9 {
  margin: 0rem 3.587rem 0.172rem 0rem;
  width: 3.0854rem;
  height: 3.0947rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .search-section-bkm .auto-group-jehy-naM {
  box-sizing: border-box;
  padding: 1.2rem 2.343rem 1rem 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #9a9a9a;
  background-color: #ffffff;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .search-section-bkm .auto-group-jehy-naM .cari-kegiatan-7Mj {
  margin-right: 41.343rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #9a9a9a;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .search-section-bkm .auto-group-jehy-naM .ph-caret-up-bold-Suo {
  margin-bottom: 0.4245rem;
  width: 4.3137rem;
  height: 2.4389rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy {
  margin: 0rem 33.8rem 0rem 35.478rem;
  width: calc(100% - 69.2776rem);
  height: 53.0147rem;
  position: relative;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .vector-CGh {
  width: 3.0224rem;
  height: 0.5446rem;
  position: absolute;
  left: 0;
  top: 52.4701rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j {
  box-sizing: border-box;
  padding: 5.333rem 4.264rem 7.5rem 4.605rem;
  width: 121.1rem;
  height: 52.5rem;
  position: absolute;
  left: 1.5224rem;
  top: 0;
  box-shadow: 0 0.1rem 2rem rgba(51, 90, 203, 0.5);
  background-color: #ffffff;
  border-radius: 1rem;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-dq7m-QtZ {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 2.867rem 81.836rem 2.6rem 4.107rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(51, 90, 203, 0.5);
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-dq7m-QtZ .clock-w7o {
  margin: 0rem 3.077rem 0.809rem 0rem;
  width: 3.4113rem;
  height: 3.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-dq7m-QtZ .universitas-f3o {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-28jf-VS9 {
  margin: 0rem 93.336rem 0.5rem 4.136rem;
  width: calc(100% - 97.4718rem);
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-28jf-VS9 .clock-pUR {
  margin: 0.4rem 3.148rem 0rem 0rem;
  width: 3.4113rem;
  height: 3.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-28jf-VS9 .prodi-MDT {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #c4c4c4;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-prodi--H77 {
  margin: 0rem 69.236rem 4.1rem 10.595rem;
  box-sizing: border-box;
  padding: 1.2rem 1.832rem 1rem 1.543rem;
  width: calc(100% - 79.8307rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #9a9a9a;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-prodi--H77 .pilih-prodi-Msf {
  margin-right: 8.106rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #c4c4c4;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-prodi--H77 .ph-caret-up-bold-USV {
  margin-top: 0.5755rem;
  width: 5.1195rem;
  height: 2.4389rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-gtrk-ZD3 {
  margin: 0rem 88.436rem 1.2rem 4.836rem;
  width: calc(100% - 93.2718rem);
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-gtrk-ZD3 .clock-Uqo {
  margin: 0rem 2.348rem 0.2rem 0rem;
  width: 3.4113rem;
  height: 3.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .auto-group-gtrk-ZD3 .fakultas-o7P {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #c4c4c4;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-fakultas--vxh {
  margin: 0rem 69.236rem 0rem 10.595rem;
  box-sizing: border-box;
  padding: 1.2rem 1.832rem 1rem 1.543rem;
  width: calc(100% - 79.8307rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #9a9a9a;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-fakultas--vxh .pilih-fakultas-qJy {
  margin-right: 3.106rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #c4c4c4;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-rfyd-3V3 .auto-group-jbvb-5Sy .result-section-j1j .pilih-fakultas--vxh .ph-caret-up-bold-mTX {
  margin-top: 0.5755rem;
  width: 5.1195rem;
  height: 2.4389rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 {
  box-sizing: border-box;
  padding: 0.833rem 47rem 1.7rem 51.7rem;
  width: 100%;
  height: 17rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-zp8f-UWM {
  margin: 0rem 6.633rem 2.533rem 3.525rem;
  width: calc(100% - 10.1583rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-zp8f-UWM .carbon-delivery-zUh {
  margin: 0.626rem 49.975rem 0rem 0rem;
  width: 8.75rem;
  height: 6.8757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-zp8f-UWM .tabler-truck-return-Whw {
  margin: 0rem 50.5rem 0rem 0rem;
  width: 7.5rem;
  height: 5.8333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-zp8f-UWM .ri-secure-payment-line-Etq {
  width: 7.9167rem;
  height: 8.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-a74f-aC1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-a74f-aC1 .free-delivery-w2Z {
  margin-right: 43.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-a74f-aC1 .easy-returns-GKj {
  margin-right: 39.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-gmuv-xY1 .auto-group-a74f-aC1 .secured-payment-c8h {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-qs6x-wwf {
  width: 100%;
  height: 3.6rem;
  position: relative;
  flex-shrink: 0;
}
.pencarian-cuX .services-of7 .auto-group-qs6x-wwf .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-JGR {
  width: 118.1rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .services-of7 .auto-group-qs6x-wwf .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-N1P {
  width: 118.1rem;
  height: 3.6rem;
  position: absolute;
  left: 93.7rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .services-of7 .auto-group-qs6x-wwf .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-REZ {
  width: 118.1rem;
  height: 3.6rem;
  position: absolute;
  left: 35.4rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP {
  width: 100%;
  height: 391.9rem;
  position: relative;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH {
  width: 295.8rem;
  height: 86.5rem;
  position: absolute;
  left: 10rem;
  top: 24.4rem;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .rectangle-6-Kz9 {
  width: 24.5rem;
  height: 38.7rem;
  position: absolute;
  left: 157.5rem;
  top: 0;
  background-color: rgba(68, 194, 234, 0.8000000119);
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .rectangle-8-SJ5 {
  width: 24.5rem;
  height: 37.7rem;
  position: absolute;
  left: 111.8rem;
  top: 10rem;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-8-bg.png');
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .rectangle-9-8gh {
  width: 24.5rem;
  height: 37.7rem;
  position: absolute;
  left: 111.8rem;
  top: 48.8rem;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-9-bg.png');
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .rectangle-7-eQ9 {
  width: 24.5rem;
  height: 37.7rem;
  position: absolute;
  left: 138.6rem;
  top: 10rem;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-7-bg-fpd.png');
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .rectangle-10-kTB {
  width: 24.5rem;
  height: 37.7rem;
  position: absolute;
  left: 138.6rem;
  top: 48.8rem;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-10-bg-x3j.png');
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .tending-this-week-TsP {
  width: 57.1rem;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 18.5rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-AG1 {
  width: 295.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0.2rem;
  top: 39.9rem;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.5399999619;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .shop-now-noB {
  width: 11.9rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 77.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .component-1-JFj {
  width: 2.0042rem;
  height: 2.0042rem;
  position: absolute;
  left: 14.6rem;
  top: 78.2rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-ekqd-gRP .trends-QcH .bi-arrow-right-circle-D7o {
  width: 7.3rem;
  height: 7.3rem;
  position: absolute;
  left: 166.1rem;
  top: 45.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh {
  width: 386.6rem;
  height: 76.5rem;
  position: absolute;
  left: 10rem;
  top: 136.3rem;
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-7fqo-SmF {
  margin-right: 2.3rem;
  box-sizing: border-box;
  padding-top: 38.8rem;
  width: 24.5rem;
  height: 100%;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-bg-cfb.png');
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-7fqo-SmF .auto-group-en9q-NQ1 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 194, 234, 0.8000000119);
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-nkqf-qYV {
  margin-right: 4.7rem;
  width: 24.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-nkqf-qYV .auto-group-r4d9-xND {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 37.7rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 194, 234, 0.8000000119);
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-nkqf-qYV .rectangle-14-2cy {
  width: 100%;
  height: 37.7rem;
  background-color: #9a9a9a;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-14-bg.png');
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .bi-arrow-right-circle-9xV {
  margin: 1rem 27.7rem 0rem 0rem;
  width: 7.3rem;
  height: 7.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd {
  margin: 10.2rem 0rem 9.1rem 0rem;
  width: 295.6rem;
  height: calc(100% - 19.3rem);
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd .great-deals-on-womens-wear-miy {
  margin-bottom: 12.5rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-UdP {
  margin-bottom: 25.9rem;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.5399999619;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd .auto-group-9kf5-YdF {
  margin-right: 278.9958rem;
  width: calc(100% - 278.9958rem);
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd .auto-group-9kf5-YdF .shop-now-Haq {
  margin-right: 2.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dte3-wJh .auto-group-hqs7-Fkd .auto-group-9kf5-YdF .component-2-113 {
  margin-top: 0.0042rem;
  width: 2.0042rem;
  height: 2.0042rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-ubq7-85f {
  width: 285.4rem;
  height: 3.7rem;
  position: absolute;
  left: 17.2rem;
  top: 251.1rem;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-ubq7-85f .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-FRB {
  width: 197.1rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5399999619;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-ubq7-85f .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-tyw {
  width: 197.1rem;
  height: 3.7rem;
  position: absolute;
  left: 88.3rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5399999619;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .frequently-asked-questions-wBX {
  width: 64.8rem;
  height: 7.2rem;
  position: absolute;
  left: 63.6rem;
  top: 224.9rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .subscribe-to-our-newsletter-q21 {
  width: 64.7rem;
  height: 7.2rem;
  position: absolute;
  left: 63.7rem;
  top: 297.6rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .get-our-latest-updates-into-your-inbox-iLh {
  width: 53.6rem;
  height: 3.6rem;
  position: absolute;
  left: 69.2rem;
  top: 307.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.216rem;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-vkhv-Ng9 {
  width: 149.1rem;
  height: 4.5rem;
  position: absolute;
  left: 17.2rem;
  top: 244.2rem;
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-vkhv-Ng9 .how-many-shows-i-can-watch-at-a-time-6MF {
  margin-right: 27.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-vkhv-Ng9 .how-many-shows-i-can-watch-at-a-time-oWZ {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dhxq-v5P {
  width: 149.1rem;
  height: 4.5rem;
  position: absolute;
  left: 17.2rem;
  top: 268rem;
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dhxq-v5P .how-many-shows-i-can-watch-at-a-time-qTF {
  margin-right: 27.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-dhxq-v5P .how-many-shows-i-can-watch-at-a-time-joX {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-yp55-fhB {
  width: 149.1rem;
  height: 4.5rem;
  position: absolute;
  left: 17.2rem;
  top: 278.4rem;
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-yp55-fhB .how-many-shows-i-can-watch-at-a-time-nmo {
  margin-right: 27.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-yp55-fhB .how-many-shows-i-can-watch-at-a-time-Jk9 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-lgk5-3Bw {
  width: 100.4rem;
  height: 11.6rem;
  position: absolute;
  left: 45.8rem;
  top: 332.6rem;
  display: flex;
  align-items: center;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-lgk5-3Bw .auto-group-hnbu-Zg5 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 4rem 4.4rem;
  width: 65.3rem;
  height: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.216rem;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-ekqd-gRP .auto-group-lgk5-3Bw .auto-group-l7vb-12H {
  width: 32.7rem;
  height: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.216rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-mbkz-URf {
  width: 100%;
  height: 81.5rem;
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
.pencarian-cuX .auto-group-mbkz-URf .career-z97 {
  width: 8.3rem;
  height: 3.6rem;
  position: absolute;
  left: 69.9rem;
  top: 29.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .about-us-GsK {
  width: 10.8rem;
  height: 3.6rem;
  position: absolute;
  left: 68.9rem;
  top: 37.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .terms-m3P {
  width: 7.6rem;
  height: 3.6rem;
  position: absolute;
  left: 70.2rem;
  top: 44.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .policy-4HP {
  width: 7.1rem;
  height: 3.6rem;
  position: absolute;
  left: 70.5rem;
  top: 52.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .news-A5X {
  width: 6.5rem;
  height: 3.6rem;
  position: absolute;
  left: 115.2rem;
  top: 30.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .blog-rU9 {
  width: 5.4rem;
  height: 3.6rem;
  position: absolute;
  left: 115.8rem;
  top: 37.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .sitemaps-9i9 {
  width: 11.5rem;
  height: 3.6rem;
  position: absolute;
  left: 112.3rem;
  top: 44.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .cash-free-rcZ {
  width: 11.7rem;
  height: 3.6rem;
  position: absolute;
  left: 155rem;
  top: 52.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .hero-card-xfb {
  width: 11.9rem;
  height: 3.6rem;
  position: absolute;
  left: 155.6rem;
  top: 44.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .perks-rFB {
  width: 6.5rem;
  height: 3.6rem;
  position: absolute;
  left: 157.3rem;
  top: 29.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .platinum-card-MBw {
  width: 17.1rem;
  height: 3.6rem;
  position: absolute;
  left: 152rem;
  top: 38.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .lagos-nigeria-1GV {
  width: 41.7rem;
  height: 3.6rem;
  position: absolute;
  left: 18.1rem;
  top: 29.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.176rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .viss-fashions-Gy7 {
  width: 2.8rem;
  height: 7.2rem;
  position: absolute;
  left: 14.3rem;
  top: 18.3rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e5e5e5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .rectangle-18-xqw {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 16.5rem;
  top: 23rem;
  background-color: rgba(68, 194, 234, 0.8000000119);
}
.pencarian-cuX .auto-group-mbkz-URf .akar-icons-twitter-fill-U3b {
  width: 3.6601rem;
  height: 2.9754rem;
  position: absolute;
  left: 14.451rem;
  top: 41.1429rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-mbkz-URf .ant-design-facebook-filled-BCu {
  width: 3.0224rem;
  height: 3.0224rem;
  position: absolute;
  left: 25.3619rem;
  top: 41.1231rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-mbkz-URf .map-pin-td7 {
  width: 2.2665rem;
  height: 2.7702rem;
  position: absolute;
  left: 14.3778rem;
  top: 31.3259rem;
  object-fit: contain;
  vertical-align: top;
}
.pencarian-cuX .auto-group-mbkz-URf .company-1Sq {
  width: 17.6rem;
  height: 5.4rem;
  position: absolute;
  left: 68rem;
  top: 19.2rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .explore-WeV {
  width: 13rem;
  height: 5.4rem;
  position: absolute;
  left: 113.6rem;
  top: 19.2rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.pencarian-cuX .auto-group-mbkz-URf .services-Qjs {
  width: 15.2rem;
  height: 5.4rem;
  position: absolute;
  left: 154.6rem;
  top: 19.2rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.navbar-gZw p a {
  color: black; /* Ubah warna teks menjadi putih */
  text-decoration: none; /* Hilangkan garis bawah */
}

/* Jika ingin memberikan warna khusus pada teks Daftar */
.auto-group-5hkr-WL1 a {
  color: white;
  text-decoration: none;
}