
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.pencarian-cuX {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-rfyd-3V3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0rem 14.385rem 0.1rem;
    width: 100%;
    height: 118rem;

    .auto-group-77c7-Gm7 {
      margin-bottom: 10.4rem;
      width: 100%;
      height: 14.3rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-3-Cem {
        position: absolute;
        left: 12.3rem;
        top: 8.6rem;
        background-color: rgba(68, 194, 234, 0.8000000119);
        width: 0.6rem;
        height: 0.6rem;
      }
      .navbar-gZw {
        height: 14.3rem;
        left: 0;
        border: solid 0 #000000;
        box-shadow: 0 0.4rem 1.4rem #9a9a9a;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 3.7rem 9.6rem 3rem 10.1rem;
        width: 191.9rem;
        align-items: center;
        border-radius: 0.7rem;
        position: absolute;
        top: 0;
        display: flex;

        .sigiat-9iR {
          margin-right: 45.2rem;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .tentang-kami-3Yu {
          flex-shrink: 0;
          margin-right: 10.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .kegiatanku-mjo {
          margin-right: 10.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .admin-t3j {
          flex-shrink: 0;
          margin: 0.6rem 22.8rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .log-in-yqs {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.8rem;
        }
        .auto-group-5hkr-WL1 {
          background-color: #335acb;
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 1.5;
          border-radius: 2.5rem;
          width: 19.3rem;
          height: 100%;
          align-items: center;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
        }
      }
    }
    .cari-kegiatan-usw {
      font-weight: 700;
      line-height: 1.1725;
      color: #335acb;
      flex-shrink: 0;
      margin: 0rem 0.2rem 3.2rem 0rem;
      text-align: center;
      white-space: nowrap;
      font-size: 7rem;
      font-family: Roboto, 'Source Sans Pro';
    }
    .search-section-bkm {
      width: calc(100% - 70.2rem);
      height: 9.8rem;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 33.2rem 4.6rem 37rem;
      box-sizing: border-box;
      padding: 1.7rem 46.4rem 1.7rem 4.628rem;
      border-radius: 0.7rem;
      display: flex;
      border: solid 0 #000000;
      box-shadow: 0 0.4rem 1.4rem #9a9a9a;

      .icon-5A9 {
        width: 3.0854rem;
        height: 3.0947rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.587rem 0.172rem 0rem;
      }
      .auto-group-jehy-naM {
        box-sizing: border-box;
        padding: 1.2rem 2.343rem 1rem 4rem;
        height: 100%;
        display: flex;
        border: solid 0.1rem #9a9a9a;
        background-color: #ffffff;
        align-items: center;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .cari-kegiatan-7Mj {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 41.343rem;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #9a9a9a;
        }
        .ph-caret-up-bold-Suo {
          margin-bottom: 0.4245rem;
          width: 4.3137rem;
          height: 2.4389rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-jbvb-5Sy {
      height: 53.0147rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 33.8rem 0rem 35.478rem;
      width: calc(100% - 69.2776rem);

      .vector-CGh {
        width: 3.0224rem;
        height: 0.5446rem;
        position: absolute;
        left: 0;
        top: 52.4701rem;
        object-fit: contain;
        vertical-align: top;
      }
      .result-section-j1j {
        height: 52.5rem;
        left: 1.5224rem;
        top: 0;
        box-shadow: 0 0.1rem 2rem rgba(51, 90, 203, 0.5);
        background-color: #ffffff;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 5.333rem 4.264rem 7.5rem 4.605rem;
        width: 121.1rem;
        position: absolute;

        .auto-group-dq7m-QtZ {
          padding: 2.867rem 81.836rem 2.6rem 4.107rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(51, 90, 203, 0.5);
          margin-bottom: 2.5rem;
          box-sizing: border-box;

          .clock-w7o {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.077rem 0.809rem 0rem;
            width: 3.4113rem;
            height: 3.3333rem;
            object-fit: contain;
          }
          .universitas-f3o {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
          }
        }
        .auto-group-28jf-VS9 {
          margin: 0rem 93.336rem 0.5rem 4.136rem;
          width: calc(100% - 97.4718rem);
          display: flex;
          align-items: center;

          .clock-pUR {
            margin: 0.4rem 3.148rem 0rem 0rem;
            width: 3.4113rem;
            height: 3.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .prodi-MDT {
            color: #c4c4c4;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
        .pilih-prodi--H77 {
          box-sizing: border-box;
          padding: 1.2rem 1.832rem 1rem 1.543rem;
          align-items: center;
          margin: 0rem 69.236rem 4.1rem 10.595rem;
          width: calc(100% - 79.8307rem);
          display: flex;
          border: solid 0.1rem #9a9a9a;
          background-color: #ffffff;
          border-radius: 0.7rem;

          .pilih-prodi-Msf {
            line-height: 1.1725;
            color: #c4c4c4;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.106rem;
            font-size: 3.5rem;
            font-weight: 400;
          }
          .ph-caret-up-bold-USV {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.5755rem;
            width: 5.1195rem;
            height: 2.4389rem;
            object-fit: contain;
          }
        }
        .auto-group-gtrk-ZD3 {
          margin: 0rem 88.436rem 1.2rem 4.836rem;
          width: calc(100% - 93.2718rem);
          display: flex;
          align-items: center;

          .clock-Uqo {
            margin: 0rem 2.348rem 0.2rem 0rem;
            width: 3.4113rem;
            height: 3.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fakultas-o7P {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #c4c4c4;
          }
        }
        .pilih-fakultas--vxh {
          margin: 0rem 69.236rem 0rem 10.595rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #9a9a9a;
          border-radius: 0.7rem;
          padding: 1.2rem 1.832rem 1rem 1.543rem;
          width: calc(100% - 79.8307rem);
          align-items: center;
          background-color: #ffffff;

          .pilih-fakultas-qJy {
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #c4c4c4;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.106rem;
          }
          .ph-caret-up-bold-mTX {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.5755rem;
            width: 5.1195rem;
            height: 2.4389rem;
          }
        }
      }
    }
  }
  .services-of7 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-gmuv-xY1 {
      padding: 0.833rem 47rem 1.7rem 51.7rem;
      width: 100%;
      height: 17rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-zp8f-UWM {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 6.633rem 2.533rem 3.525rem;
        width: calc(100% - 10.1583rem);
        display: flex;

        .carbon-delivery-zUh {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.626rem 49.975rem 0rem 0rem;
          width: 8.75rem;
          height: 6.8757rem;
          position: relative;
          object-fit: contain;
        }
        .tabler-truck-return-Whw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 50.5rem 0rem 0rem;
          width: 7.5rem;
          height: 5.8333rem;
        }
        .ri-secure-payment-line-Etq {
          width: 7.9167rem;
          height: 8.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-a74f-aC1 {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;

        .free-delivery-w2Z {
          flex-shrink: 0;
          margin-right: 43.2rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .easy-returns-GKj {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 39.7rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .secured-payment-c8h {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
    }
    .auto-group-qs6x-wwf {
      width: 100%;
      height: 3.6rem;
      position: relative;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-JGR {
        font-weight: 400;
        line-height: 1.5;
        color: #9a9a9a;
        width: 118.1rem;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 2.4rem;
        font-family: Poppins, 'Source Sans Pro';
        height: 3.6rem;
        top: 0;
        white-space: nowrap;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-N1P {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        height: 3.6rem;
        position: absolute;
        left: 93.7rem;
        text-align: center;
        color: #9a9a9a;
        white-space: nowrap;
        width: 118.1rem;
        top: 0;
        font-size: 2.4rem;
        line-height: 1.5;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-REZ {
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        color: #9a9a9a;
        font-family: Poppins, 'Source Sans Pro';
        width: 118.1rem;
        height: 3.6rem;
        left: 35.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
      }
    }
  }
  .auto-group-ekqd-gRP {
    flex-shrink: 0;
    width: 100%;
    height: 391.9rem;
    position: relative;

    .trends-QcH {
      top: 24.4rem;
      width: 295.8rem;
      height: 86.5rem;
      position: absolute;
      left: 10rem;

      .rectangle-6-Kz9 {
        background-color: rgba(68, 194, 234, 0.8000000119);
        width: 24.5rem;
        height: 38.7rem;
        position: absolute;
        left: 157.5rem;
        top: 0;
      }
      .rectangle-8-SJ5 {
        position: absolute;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:efa2f6d31c94ab2ba3d2bc509e1518a9a3a16060');
        width: 24.5rem;
        height: 37.7rem;
        left: 111.8rem;
        top: 10rem;
        background-color: #9a9a9a;
        background-repeat: no-repeat;
      }
      .rectangle-9-8gh {
        position: absolute;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:036d8999cc78b4c94817881d69e56c4344ab35ad');
        height: 37.7rem;
        left: 111.8rem;
        top: 48.8rem;
        background-color: #9a9a9a;
        background-position: center;
        width: 24.5rem;
      }
      .rectangle-7-eQ9 {
        left: 138.6rem;
        top: 10rem;
        background-color: #9a9a9a;
        background-repeat: no-repeat;
        width: 24.5rem;
        height: 37.7rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:7ccbb8762d64e7343277a41ec84a522f07d90a05');
        position: absolute;
        background-size: 100% 100%;
      }
      .rectangle-10-kTB {
        top: 48.8rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 24.5rem;
        height: 37.7rem;
        position: absolute;
        left: 138.6rem;
        background-color: #9a9a9a;
        background-image: url('REPLACE_IMAGE:24c0b211f574859afce99926319ce59e86e92390');
      }
      .tending-this-week-TsP {
        position: absolute;
        left: 0;
        top: 18.5rem;
        font-size: 6.4rem;
        color: #000000;
        height: 9.6rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 57.1rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-AG1 {
        position: absolute;
        font-weight: 300;
        line-height: 1.5399999619;
        width: 295.6rem;
        height: 5.6rem;
        left: 0.2rem;
        top: 39.9rem;
        font-size: 3.6rem;
        color: #9a9a9a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .shop-now-noB {
        font-size: 2.4rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.6rem;
        position: absolute;
        left: 0;
        top: 77.4rem;
        width: 11.9rem;
        line-height: 1.5;
        color: #000000;
      }
      .component-1-JFj {
        left: 14.6rem;
        top: 78.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.0042rem;
        height: 2.0042rem;
        position: absolute;
      }
      .bi-arrow-right-circle-D7o {
        position: absolute;
        left: 166.1rem;
        top: 45.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 7.3rem;
        height: 7.3rem;
      }
    }
    .auto-group-dte3-wJh {
      align-items: center;
      width: 386.6rem;
      height: 76.5rem;
      position: absolute;
      left: 10rem;
      top: 136.3rem;
      display: flex;

      .auto-group-7fqo-SmF {
        width: 24.5rem;
        background-color: #9a9a9a;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:c0291230308e240bb25f7fe55f919bc26ec68ae8');
        margin-right: 2.3rem;
        box-sizing: border-box;
        padding-top: 38.8rem;
        height: 100%;
        background-size: 100% 100%;
        flex-shrink: 0;

        .auto-group-en9q-NQ1 {
          font-size: 6.4rem;
          font-weight: 300;
          color: #ffffff;
          display: flex;
          justify-content: center;
          background-color: rgba(68, 194, 234, 0.8000000119);
          width: 100%;
          text-align: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          height: 100%;
        }
      }
      .auto-group-nkqf-qYV {
        flex-shrink: 0;
        margin-right: 4.7rem;
        width: 24.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-r4d9-xND {
          height: 37.7rem;
          font-weight: 300;
          display: flex;
          justify-content: center;
          background-color: rgba(68, 194, 234, 0.8000000119);
          color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          font-size: 6.4rem;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          margin-bottom: 1.1rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-14-2cy {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2c2baf6783a59c4393e701af02338ffd286df43d');
          flex-shrink: 0;
          width: 100%;
          height: 37.7rem;
          background-color: #9a9a9a;
          background-size: 100% 100%;
        }
      }
      .bi-arrow-right-circle-9xV {
        width: 7.3rem;
        height: 7.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1rem 27.7rem 0rem 0rem;
      }
      .auto-group-hqs7-Fkd {
        width: 295.6rem;
        height: calc(100% - 19.3rem);
        flex-shrink: 0;
        margin: 10.2rem 0rem 9.1rem 0rem;

        .great-deals-on-womens-wear-miy {
          margin-bottom: 12.5rem;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-UdP {
          font-weight: 300;
          line-height: 1.5399999619;
          color: #9a9a9a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 25.9rem;
          font-size: 3.6rem;
        }
        .auto-group-9kf5-YdF {
          width: calc(100% - 278.9958rem);
          display: flex;
          align-items: center;
          margin-right: 278.9958rem;

          .shop-now-Haq {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.7rem;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .component-2-113 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0042rem;
            width: 2.0042rem;
            height: 2.0042rem;
          }
        }
      }
    }
    .auto-group-ubq7-85f {
      height: 3.7rem;
      position: absolute;
      left: 17.2rem;
      top: 251.1rem;
      width: 285.4rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-FRB {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.7rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.5399999619;
        color: #9a9a9a;
        width: 197.1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-tyw {
        font-weight: 300;
        color: #9a9a9a;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 88.3rem;
        top: 0;
        line-height: 1.5399999619;
        white-space: nowrap;
        width: 197.1rem;
        height: 3.7rem;
        font-size: 2.4rem;
      }
    }
    .frequently-asked-questions-wBX {
      height: 7.2rem;
      left: 63.6rem;
      top: 224.9rem;
      white-space: nowrap;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 64.8rem;
      position: absolute;
      text-align: center;
      font-size: 4.8rem;
      font-weight: 300;
      line-height: 1.5;
    }
    .subscribe-to-our-newsletter-q21 {
      text-align: center;
      font-size: 4.8rem;
      font-weight: 300;
      line-height: 1.5;
      height: 7.2rem;
      position: absolute;
      left: 63.7rem;
      top: 297.6rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 64.7rem;
      white-space: nowrap;
    }
    .get-our-latest-updates-into-your-inbox-iLh {
      position: absolute;
      left: 69.2rem;
      top: 307.3rem;
      text-align: center;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 53.6rem;
      height: 3.6rem;
      font-size: 2.4rem;
      font-weight: 300;
      letter-spacing: 0.216rem;
      color: #9a9a9a;
    }
    .auto-group-vkhv-Ng9 {
      width: 149.1rem;
      height: 4.5rem;
      position: absolute;
      left: 17.2rem;
      top: 244.2rem;
      display: flex;
      align-items: center;

      .how-many-shows-i-can-watch-at-a-time-6MF {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        white-space: nowrap;
        margin-right: 27.5rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .how-many-shows-i-can-watch-at-a-time-oWZ {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-dhxq-v5P {
      height: 4.5rem;
      position: absolute;
      left: 17.2rem;
      top: 268rem;
      display: flex;
      align-items: center;
      width: 149.1rem;

      .how-many-shows-i-can-watch-at-a-time-qTF {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 27.5rem;
        text-align: center;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .how-many-shows-i-can-watch-at-a-time-joX {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
    }
    .auto-group-yp55-fhB {
      left: 17.2rem;
      top: 278.4rem;
      display: flex;
      align-items: center;
      width: 149.1rem;
      height: 4.5rem;
      position: absolute;

      .how-many-shows-i-can-watch-at-a-time-nmo {
        white-space: nowrap;
        margin-right: 27.5rem;
        font-size: 3rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        text-align: center;
        line-height: 1.5;
        color: #000000;
        flex-shrink: 0;
      }
      .how-many-shows-i-can-watch-at-a-time-Jk9 {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
      }
    }
    .auto-group-lgk5-3Bw {
      left: 45.8rem;
      top: 332.6rem;
      display: flex;
      align-items: center;
      width: 100.4rem;
      height: 11.6rem;
      position: absolute;

      .auto-group-hnbu-Zg5 {
        box-sizing: border-box;
        width: 65.3rem;
        text-align: center;
        flex-shrink: 0;
        line-height: 1.5;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        margin-right: 2.4rem;
        padding: 4rem 4.4rem;
        font-family: Poppins, 'Source Sans Pro';
        color: #9a9a9a;
        height: 100%;
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: 0.216rem;
      }
      .auto-group-l7vb-12H {
        color: #ffffff;
        justify-content: center;
        background-color: #000000;
        flex-shrink: 0;
        height: 100%;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        letter-spacing: 0.216rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 32.7rem;
        white-space: nowrap;
        display: flex;
      }
    }
  }
  .auto-group-mbkz-URf {
    width: 100%;
    height: 81.5rem;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;

    .career-z97 {
      height: 3.6rem;
      top: 29.9rem;
      font-weight: 500;
      line-height: 1.5;
      white-space: nowrap;
      width: 8.3rem;
      position: absolute;
      left: 69.9rem;
      font-size: 2.4rem;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
    }
    .about-us-GsK {
      left: 68.9rem;
      font-weight: 500;
      color: #9a9a9a;
      width: 10.8rem;
      height: 3.6rem;
      position: absolute;
      top: 37.1rem;
      font-size: 2.4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .terms-m3P {
      width: 7.6rem;
      left: 70.2rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #9a9a9a;
      height: 3.6rem;
      position: absolute;
      top: 44.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .policy-4HP {
      left: 70.5rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a9a9a;
      width: 7.1rem;
      height: 3.6rem;
      position: absolute;
      top: 52.1rem;
    }
    .news-A5X {
      position: absolute;
      left: 115.2rem;
      top: 30.1rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #9a9a9a;
      width: 6.5rem;
      height: 3.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .blog-rU9 {
      width: 5.4rem;
      position: absolute;
      left: 115.8rem;
      font-size: 2.4rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      height: 3.6rem;
      top: 37.4rem;
      line-height: 1.5;
      color: #9a9a9a;
      white-space: nowrap;
    }
    .sitemaps-9i9 {
      left: 112.3rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      height: 3.6rem;
      position: absolute;
      top: 44.7rem;
      font-weight: 500;
      white-space: nowrap;
      width: 11.5rem;
    }
    .cash-free-rcZ {
      position: absolute;
      top: 52.1rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      color: #9a9a9a;
      width: 11.7rem;
      height: 3.6rem;
      left: 155rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .hero-card-xfb {
      top: 44.5rem;
      font-weight: 500;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      width: 11.9rem;
      height: 3.6rem;
      position: absolute;
      left: 155.6rem;
      white-space: nowrap;
      font-size: 2.4rem;
      line-height: 1.5;
    }
    .perks-rFB {
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      height: 3.6rem;
      left: 157.3rem;
      top: 29.8rem;
      font-weight: 500;
      color: #9a9a9a;
      white-space: nowrap;
      width: 6.5rem;
    }
    .platinum-card-MBw {
      font-weight: 500;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.1rem;
      position: absolute;
      top: 38.6rem;
      line-height: 1.5;
      height: 3.6rem;
      left: 152rem;
      font-size: 2.4rem;
    }
    .lagos-nigeria-1GV {
      font-size: 2.4rem;
      height: 3.6rem;
      position: absolute;
      top: 29.5rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1.176rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 41.7rem;
      left: 18.1rem;
      white-space: nowrap;
    }
    .viss-fashions-Gy7 {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #e5e5e5;
      white-space: nowrap;
      width: 2.8rem;
      height: 7.2rem;
      position: absolute;
      left: 14.3rem;
      top: 18.3rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle-18-xqw {
      left: 16.5rem;
      top: 23rem;
      background-color: rgba(68, 194, 234, 0.8000000119);
      width: 0.6rem;
      height: 0.6rem;
      position: absolute;
    }
    .akar-icons-twitter-fill-U3b {
      vertical-align: top;
      width: 3.6601rem;
      height: 2.9754rem;
      position: absolute;
      left: 14.451rem;
      top: 41.1429rem;
      object-fit: contain;
    }
    .ant-design-facebook-filled-BCu {
      vertical-align: top;
      width: 3.0224rem;
      height: 3.0224rem;
      position: absolute;
      left: 25.3619rem;
      top: 41.1231rem;
      object-fit: contain;
    }
    .map-pin-td7 {
      object-fit: contain;
      vertical-align: top;
      width: 2.2665rem;
      height: 2.7702rem;
      position: absolute;
      left: 14.3778rem;
      top: 31.3259rem;
    }
    .company-1Sq {
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.6rem;
      position: absolute;
      left: 68rem;
      font-size: 3.6rem;
      height: 5.4rem;
      top: 19.2rem;
      color: #ffffff;
    }
    .explore-WeV {
      height: 5.4rem;
      left: 113.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 13rem;
      position: absolute;
      top: 19.2rem;
      font-size: 3.6rem;
      font-weight: 500;
      color: #ffffff;
    }
    .services-Qjs {
      width: 15.2rem;
      height: 5.4rem;
      left: 154.6rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      top: 19.2rem;
      font-size: 3.6rem;
      line-height: 1.5;
      white-space: nowrap;
    }
  }
}
