
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.hasil-x17 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-fp3z-GXb {
    width: 100%;
    height: 101.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-mbsj-Cg9 {
      top: 0;
      width: 191.9rem;
      height: 14.3rem;
      position: absolute;
      left: 0.1rem;

      .rectangle-3-Kkm {
        position: absolute;
        left: 12.3rem;
        top: 8.6rem;
        background-color: rgba(68, 194, 234, 0.8000000119);
        width: 0.6rem;
        height: 0.6rem;
      }
      .navbar-czm {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        box-shadow: 0 0.4rem 1.4rem #9a9a9a;
        box-sizing: border-box;
        padding: 3.7rem 9.6rem 3rem 10.1rem;
        width: 191.9rem;
        height: 14.3rem;
        top: 0;
        border: solid 0 #000000;
        background-color: #ffffff;
        border-radius: 0.7rem;

        .sigiat-HLD {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 45.2rem;
        }
        .tentang-kami-aq7 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .kegiatanku-hPw {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .admin-pUZ {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.6rem 22.8rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .log-in-X85 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.8rem;
        }
        .auto-group-rpyo-eTb {
          height: 100%;
          font-weight: 500;
          display: flex;
          width: 19.3rem;
          justify-content: center;
          background-color: #335acb;
          font-size: 2.4rem;
          color: #ffffff;
          flex-shrink: 0;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          border-radius: 2.5rem;
        }
      }
    }
    .content-card-item-5-GE5 {
      background-color: #ffffff;
      padding-right: 4.9rem;
      width: 64.6rem;
      height: 26rem;
      left: 29.4rem;
      overflow: hidden;
      border: solid 0.1rem #99ace5;
      box-sizing: border-box;
      position: absolute;
      top: 36.7rem;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;

      .media-AKT {
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 5rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #dddddd;
        background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
        flex-shrink: 0;

        .poster-1-JRf {
          width: 24.5rem;
          height: 26rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .card-content-zJV {
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.5rem 0;
        height: calc(100% - 7rem);
        overflow: hidden;
        position: relative;

        .h6-Ja5 {
          letter-spacing: 0.02rem;
          color: #bdbdbd;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7142857143;
        }
        .h6-cam {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .h3-9Ko {
          font-weight: 700;
          line-height: 1.3333333333;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
        .paragraph-Ucy {
          line-height: 1.625;
          letter-spacing: 0.02rem;
          color: #848484;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .tags-ov9 {
          overflow: hidden;
          position: relative;
          letter-spacing: 0.02rem;
          color: #23a6f0;
          width: 15.7rem;
          font-weight: 600;
          line-height: 1.7142857143;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
        }
      }
    }
    .auto-group-nwnx-sv1 {
      height: 26.1rem;
      position: absolute;
      left: 29.4rem;
      top: 69.1rem;
      display: flex;
      align-items: center;
      width: 137.9rem;

      .content-card-item-5-Bvh {
        margin: 0.1rem 8.7rem 0rem 0rem;
        align-items: center;
        border: solid 0.1rem #99ace5;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 4.9rem;
        height: 26rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .media-VgV {
          margin-right: 5rem;
          overflow: hidden;
          box-sizing: border-box;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
          height: 100%;
          position: relative;
          border: solid 0.1rem #dddddd;
          background-size: 100% 100%;
          flex-shrink: 0;

          .poster-1-cuX {
            width: 24.5rem;
            height: 26rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .card-content-hg5 {
          height: calc(100% - 7rem);
          overflow: hidden;
          position: relative;
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 3.5rem 0;

          .h6-DeR {
            color: #bdbdbd;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
          }
          .h6-KxM {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #bdbdbd;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .h3-GMo {
            font-weight: 700;
            line-height: 1.3333333333;
            letter-spacing: 0.01rem;
            color: #252b42;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
          .paragraph-ZLu {
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0.02rem;
            color: #848484;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .tags-42m {
            width: 15.7rem;
            overflow: hidden;
            white-space: nowrap;
            flex-shrink: 0;
            position: relative;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #23a6f0;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
      .content-card-item-5-7Fw {
        padding-right: 4.9rem;
        height: 26rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #99ace5;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        border-radius: 0.5rem;

        .media-RnR {
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
          margin-right: 5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          overflow: hidden;
          border: solid 0.1rem #dddddd;
          background-position: center;

          .poster-1-kph {
            width: 24.5rem;
            height: 26rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .card-content-Ezm {
          flex-shrink: 0;
          margin: 3.5rem 0;
          height: calc(100% - 7rem);
          overflow: hidden;
          position: relative;
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;

          .h6-a33 {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #bdbdbd;
          }
          .h6-htM {
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #bdbdbd;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .h3-F9B {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3333333333;
            letter-spacing: 0.01rem;
            color: #252b42;
          }
          .paragraph-n97 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0.02rem;
            color: #848484;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tags-Jt9 {
            width: 15.7rem;
            font-size: 1.4rem;
            line-height: 1.7142857143;
            color: #23a6f0;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            font-weight: 600;
            letter-spacing: 0.02rem;
            white-space: nowrap;
          }
        }
      }
    }
    .content-card-item-5-aKs {
      border-radius: 0.5rem;
      padding-right: 4.9rem;
      position: absolute;
      left: 102.7rem;
      top: 36.7rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 64.6rem;
      height: 26rem;
      overflow: hidden;
      border: solid 0.1rem #99ace5;

      .media-4kq {
        margin-right: 5rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
        flex-shrink: 0;
        box-sizing: border-box;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #dddddd;

        .poster-1-cGZ {
          width: 24.5rem;
          height: 26rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .card-content-iaV {
        flex-shrink: 0;
        margin: 3.5rem 0;
        height: calc(100% - 7rem);
        overflow: hidden;
        position: relative;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;

        .h6-eU9 {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .h6-BDB {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
        }
        .h3-VzZ {
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          letter-spacing: 0.01rem;
        }
        .paragraph-ESM {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: 0.02rem;
          color: #848484;
        }
        .tags-N2m {
          width: 15.7rem;
          line-height: 1.7142857143;
          white-space: nowrap;
          flex-shrink: 0;
          color: #23a6f0;
          font-family: Montserrat, 'Source Sans Pro';
          overflow: hidden;
          position: relative;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 0.02rem;
        }
      }
    }
    .cari-kegiatan-3ub {
      left: 72.7rem;
      top: 22.6rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      position: absolute;
      height: 9.4rem;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      color: #9a9a9a;
      width: 50.5rem;
    }
  }
  .auto-group-fkgb-vTb {
    flex-shrink: 0;
    width: 100%;
    height: 37.1rem;
    position: relative;

    .services-TyK {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 233.5rem;
      height: 20.6rem;
      position: absolute;
      left: 0;
      top: 16.5rem;

      .auto-group-sgbm-o1b {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.833rem 47rem 1.7rem 51.7rem;
        width: 100%;
        height: 17rem;

        .auto-group-h6dz-Trq {
          width: calc(100% - 10.1583rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 6.633rem 2.533rem 3.525rem;

          .carbon-delivery-jZT {
            flex-shrink: 0;
            margin: 0.626rem 49.975rem 0rem 0rem;
            width: 8.75rem;
            height: 6.8757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .tabler-truck-return-ct9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 50.5rem 0rem 0rem;
            width: 7.5rem;
            height: 5.8333rem;
          }
          .ri-secure-payment-line-jC5 {
            width: 7.9167rem;
            height: 8.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-hpzz-ScH {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .free-delivery-C5f {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 43.2rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .easy-returns-7Cd {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 39.7rem;
            font-size: 2.4rem;
          }
          .secured-payment-EY9 {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
      }
      .auto-group-ewu5-ARo {
        width: 100%;
        height: 3.6rem;
        position: relative;
        flex-shrink: 0;

        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-uPP {
          width: 118.1rem;
          position: absolute;
          left: 0;
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
          height: 3.6rem;
          top: 0;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #9a9a9a;
          font-family: Poppins, 'Source Sans Pro';
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-aVX {
          color: #9a9a9a;
          white-space: nowrap;
          height: 3.6rem;
          position: absolute;
          font-size: 2.4rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 118.1rem;
          left: 93.7rem;
          top: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-FLm {
          top: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          color: #9a9a9a;
          width: 118.1rem;
          height: 3.6rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 35.4rem;
        }
      }
    }
    .vector-7ds {
      top: 4.2701rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.0224rem;
      height: 0.5446rem;
      position: absolute;
      left: 35.6776rem;
    }
    .content-card-item-5-e81 {
      left: 29.3rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 4.9rem;
      position: absolute;
      top: 0;
      overflow: hidden;
      border: solid 0.1rem #99ace5;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 64.6rem;
      height: 26rem;

      .media-94m {
        border: solid 0.1rem #dddddd;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-size: 100% 100%;
        background-position: center;
        margin-right: 5rem;

        .poster-1-to3 {
          vertical-align: top;
          width: 24.5rem;
          height: 26rem;
          object-fit: cover;
        }
      }
      .card-content-zbB {
        height: calc(100% - 7rem);
        overflow: hidden;
        position: relative;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.5rem 0;

        .h6-4qw {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
        }
        .h6-N5w {
          letter-spacing: 0.02rem;
          color: #bdbdbd;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 1.7142857143;
        }
        .h3-sHb {
          font-weight: 700;
          line-height: 1.3333333333;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
        .paragraph-bDb {
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: 0.02rem;
          color: #848484;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
        .tags-X7F {
          width: 15.7rem;
          position: relative;
          font-size: 1.4rem;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 600;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #23a6f0;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .content-card-item-5-BxV {
      height: 26rem;
      position: absolute;
      left: 102.7rem;
      top: 0;
      display: flex;
      box-sizing: border-box;
      padding-right: 4.9rem;
      width: 64.6rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      overflow: hidden;
      align-items: center;
      border: solid 0.1rem #99ace5;

      .media-ViH {
        background-image: url('REPLACE_IMAGE:56cf2125bce5be4658be7ae91d2493397ce2e09b');
        margin-right: 5rem;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        border: solid 0.1rem #dddddd;
        background-position: center;
        flex-shrink: 0;

        .poster-1-qGM {
          vertical-align: top;
          width: 24.5rem;
          height: 26rem;
          object-fit: cover;
        }
      }
      .card-content-8WM {
        height: calc(100% - 7rem);
        overflow: hidden;
        position: relative;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.5rem 0;

        .h6-497 {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
        }
        .h6-zHf {
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          color: #bdbdbd;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .h3-Kqj {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .paragraph-FjP {
          line-height: 1.625;
          letter-spacing: 0.02rem;
          color: #848484;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .tags-B7F {
          width: 15.7rem;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 0.02rem;
          font-family: Montserrat, 'Source Sans Pro';
          overflow: hidden;
          position: relative;
          line-height: 1.7142857143;
          color: #23a6f0;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-k5sr-RnH {
    height: 391.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .trends-MR3 {
      left: 10rem;
      top: 24.4rem;
      width: 295.8rem;
      height: 86.5rem;
      position: absolute;

      .rectangle-6-TU5 {
        top: 0;
        background-color: rgba(68, 194, 234, 0.8000000119);
        width: 24.5rem;
        height: 38.7rem;
        position: absolute;
        left: 157.5rem;
      }
      .rectangle-8-ySR {
        width: 24.5rem;
        position: absolute;
        left: 111.8rem;
        background-color: #9a9a9a;
        background-image: url('REPLACE_IMAGE:efa2f6d31c94ab2ba3d2bc509e1518a9a3a16060');
        height: 37.7rem;
        top: 10rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .rectangle-9-HCD {
        left: 111.8rem;
        top: 48.8rem;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:036d8999cc78b4c94817881d69e56c4344ab35ad');
        width: 24.5rem;
        height: 37.7rem;
        position: absolute;
        background-color: #9a9a9a;
        background-repeat: no-repeat;
      }
      .rectangle-7-PW9 {
        width: 24.5rem;
        position: absolute;
        left: 138.6rem;
        top: 10rem;
        background-size: 100% 100%;
        height: 37.7rem;
        background-color: #9a9a9a;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:7ccbb8762d64e7343277a41ec84a522f07d90a05');
      }
      .rectangle-10-JND {
        position: absolute;
        left: 138.6rem;
        top: 48.8rem;
        background-color: #9a9a9a;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:24c0b211f574859afce99926319ce59e86e92390');
        width: 24.5rem;
        height: 37.7rem;
      }
      .tending-this-week-p5f {
        width: 57.1rem;
        height: 9.6rem;
        position: absolute;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        left: 0;
        top: 18.5rem;
        font-size: 6.4rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-Wz5 {
        width: 295.6rem;
        height: 5.6rem;
        left: 0.2rem;
        top: 39.9rem;
        line-height: 1.5399999619;
        position: absolute;
        font-size: 3.6rem;
        font-weight: 300;
        color: #9a9a9a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .shop-now-Ly7 {
        white-space: nowrap;
        height: 3.6rem;
        position: absolute;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        width: 11.9rem;
        left: 0;
        top: 77.4rem;
      }
      .component-1-qus {
        position: absolute;
        left: 14.6rem;
        top: 78.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.0042rem;
        height: 2.0042rem;
      }
      .bi-arrow-right-circle-mHj {
        position: absolute;
        left: 166.1rem;
        top: 45.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 7.3rem;
        height: 7.3rem;
      }
    }
    .auto-group-rsmy-5pD {
      width: 386.6rem;
      height: 76.5rem;
      position: absolute;
      left: 10rem;
      top: 136.3rem;
      display: flex;
      align-items: center;

      .auto-group-t2qy-Pa1 {
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 2.3rem;
        padding-top: 38.8rem;
        width: 24.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        background-color: #9a9a9a;
        background-image: url('REPLACE_IMAGE:c0291230308e240bb25f7fe55f919bc26ec68ae8');

        .auto-group-yyfr-7ku {
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 1.5;
          display: flex;
          background-color: rgba(68, 194, 234, 0.8000000119);
          font-size: 6.4rem;
          font-weight: 300;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-y7md-BVs {
        flex-shrink: 0;
        margin-right: 4.7rem;
        width: 24.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-e3fh-hz1 {
          margin-bottom: 1.1rem;
          width: 100%;
          color: #ffffff;
          background-color: rgba(68, 194, 234, 0.8000000119);
          font-size: 6.4rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 37.7rem;
          display: flex;
          align-items: center;
          text-align: center;
          font-weight: 300;
          line-height: 1.5;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
        }
        .rectangle-14-mys {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2c2baf6783a59c4393e701af02338ffd286df43d');
          flex-shrink: 0;
          width: 100%;
          height: 37.7rem;
          background-color: #9a9a9a;
          background-size: 100% 100%;
        }
      }
      .bi-arrow-right-circle-JD7 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 1rem 27.7rem 0rem 0rem;
        width: 7.3rem;
        height: 7.3rem;
        object-fit: contain;
      }
      .auto-group-1b6b-QG9 {
        margin: 10.2rem 0rem 9.1rem 0rem;
        width: 295.6rem;
        height: calc(100% - 19.3rem);
        flex-shrink: 0;

        .great-deals-on-womens-wear-KP7 {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 12.5rem;
          font-size: 6.4rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-aZw {
          white-space: nowrap;
          margin-bottom: 25.9rem;
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.5399999619;
          color: #9a9a9a;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-dvk5-2wj {
          display: flex;
          align-items: center;
          margin-right: 278.9958rem;
          width: calc(100% - 278.9958rem);

          .shop-now-y6H {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.7rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .component-2-Hcm {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0042rem;
            width: 2.0042rem;
            height: 2.0042rem;
            position: relative;
          }
        }
      }
    }
    .auto-group-lkhr-QBb {
      width: 285.4rem;
      height: 3.7rem;
      position: absolute;
      left: 17.2rem;
      top: 251.1rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-X1K {
        height: 3.7rem;
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 300;
        color: #9a9a9a;
        white-space: nowrap;
        width: 197.1rem;
        left: 0;
        line-height: 1.5399999619;
        font-family: Poppins, 'Source Sans Pro';
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-AKB {
        color: #9a9a9a;
        top: 0;
        font-weight: 300;
        position: absolute;
        left: 88.3rem;
        font-size: 2.4rem;
        line-height: 1.5399999619;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 197.1rem;
        height: 3.7rem;
      }
    }
    .frequently-asked-questions-zp1 {
      font-family: Poppins, 'Source Sans Pro';
      width: 64.8rem;
      height: 7.2rem;
      top: 224.9rem;
      font-weight: 300;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      left: 63.6rem;
      text-align: center;
      font-size: 4.8rem;
    }
    .subscribe-to-our-newsletter-HHK {
      position: absolute;
      left: 63.7rem;
      font-size: 4.8rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 64.7rem;
      height: 7.2rem;
      top: 297.6rem;
      text-align: center;
      font-weight: 300;
      line-height: 1.5;
    }
    .get-our-latest-updates-into-your-inbox-NZf {
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.216rem;
      font-family: Poppins, 'Source Sans Pro';
      width: 53.6rem;
      position: absolute;
      left: 69.2rem;
      white-space: nowrap;
      color: #9a9a9a;
      height: 3.6rem;
      top: 307.3rem;
      text-align: center;
    }
    .auto-group-sgxt-F7f {
      top: 244.2rem;
      display: flex;
      align-items: center;
      width: 149.1rem;
      height: 4.5rem;
      position: absolute;
      left: 17.2rem;

      .how-many-shows-i-can-watch-at-a-time-xXs {
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 27.5rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
      }
      .how-many-shows-i-can-watch-at-a-time-TzR {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-kdmd-PNH {
      top: 268rem;
      display: flex;
      align-items: center;
      width: 149.1rem;
      height: 4.5rem;
      position: absolute;
      left: 17.2rem;

      .how-many-shows-i-can-watch-at-a-time-Jk9 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        flex-shrink: 0;
        margin-right: 27.5rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .how-many-shows-i-can-watch-at-a-time-pTb {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
    }
    .auto-group-e8t5-9Ey {
      width: 149.1rem;
      height: 4.5rem;
      position: absolute;
      left: 17.2rem;
      top: 278.4rem;
      display: flex;
      align-items: center;

      .how-many-shows-i-can-watch-at-a-time-fDK {
        margin-right: 27.5rem;
        font-size: 3rem;
        line-height: 1.5;
        color: #000000;
        text-align: center;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .how-many-shows-i-can-watch-at-a-time-Afs {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-e1ws-6ZX {
      left: 45.8rem;
      top: 332.6rem;
      display: flex;
      align-items: center;
      width: 100.4rem;
      height: 11.6rem;
      position: absolute;

      .auto-group-2jf5-De9 {
        font-weight: 400;
        font-size: 2.4rem;
        color: #9a9a9a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        text-align: center;
        padding: 4rem 4.4rem;
        line-height: 1.5;
        letter-spacing: 0.216rem;
        margin-right: 2.4rem;
        width: 65.3rem;
        height: 100%;
        box-sizing: border-box;
      }
      .auto-group-vflx-4em {
        line-height: 1.5;
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        font-size: 2.4rem;
        align-items: center;
        background-color: #000000;
        width: 32.7rem;
        text-align: center;
        letter-spacing: 0.216rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
      }
    }
  }
  .auto-group-lyqk-8uX {
    height: 81.5rem;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    width: 100%;

    .career-r4q {
      font-family: Poppins, 'Source Sans Pro';
      width: 8.3rem;
      height: 3.6rem;
      top: 29.9rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a9a9a;
      white-space: nowrap;
      position: absolute;
      left: 69.9rem;
      font-size: 2.4rem;
    }
    .about-us-YCZ {
      height: 3.6rem;
      left: 68.9rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      width: 10.8rem;
      position: absolute;
      top: 37.1rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .terms-ELH {
      position: absolute;
      left: 70.2rem;
      top: 44.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.6rem;
      height: 3.6rem;
      font-size: 2.4rem;
      font-weight: 500;
      color: #9a9a9a;
    }
    .policy-Kcd {
      height: 3.6rem;
      top: 52.1rem;
      font-size: 2.4rem;
      font-weight: 500;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.1rem;
      position: absolute;
      left: 70.5rem;
      line-height: 1.5;
    }
    .news-2G9 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.6rem;
      top: 30.1rem;
      font-weight: 500;
      color: #9a9a9a;
      line-height: 1.5;
      width: 6.5rem;
      position: absolute;
      left: 115.2rem;
      font-size: 2.4rem;
    }
    .blog-v6d {
      height: 3.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.4rem;
      position: absolute;
      left: 115.8rem;
      top: 37.4rem;
      font-size: 2.4rem;
      font-weight: 500;
      color: #9a9a9a;
    }
    .sitemaps-byT {
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      width: 11.5rem;
      height: 3.6rem;
      position: absolute;
      left: 112.3rem;
      white-space: nowrap;
      top: 44.7rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #9a9a9a;
    }
    .cash-free-uDT {
      position: absolute;
      left: 155rem;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.7rem;
      height: 3.6rem;
      top: 52.1rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .hero-card-oJq {
      position: absolute;
      left: 155.6rem;
      top: 44.5rem;
      line-height: 1.5;
      width: 11.9rem;
      height: 3.6rem;
      color: #9a9a9a;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      font-weight: 500;
    }
    .perks-JWV {
      left: 157.3rem;
      top: 29.8rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
      color: #9a9a9a;
      height: 3.6rem;
      position: absolute;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.5rem;
    }
    .platinum-card-bkV {
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 17.1rem;
      height: 3.6rem;
      position: absolute;
      left: 152rem;
      font-size: 2.4rem;
      white-space: nowrap;
      top: 38.6rem;
      color: #9a9a9a;
    }
    .lagos-nigeria-WMf {
      width: 41.7rem;
      font-size: 2.4rem;
      letter-spacing: 1.176rem;
      color: #ffffff;
      white-space: nowrap;
      height: 3.6rem;
      position: absolute;
      left: 18.1rem;
      top: 29.5rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .viss-fashions-CkH {
      width: 2.8rem;
      position: absolute;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.5;
      color: #e5e5e5;
      height: 7.2rem;
      left: 14.3rem;
      top: 18.3rem;
      font-size: 4.8rem;
      font-weight: 400;
    }
    .rectangle-18-JoK {
      width: 0.6rem;
      height: 0.6rem;
      position: absolute;
      left: 16.5rem;
      top: 23rem;
      background-color: rgba(68, 194, 234, 0.8000000119);
    }
    .akar-icons-twitter-fill-pmf {
      object-fit: contain;
      vertical-align: top;
      width: 3.6601rem;
      height: 2.9754rem;
      position: absolute;
      left: 14.451rem;
      top: 41.1429rem;
    }
    .ant-design-facebook-filled-wbP {
      left: 25.3619rem;
      top: 41.1231rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.0224rem;
      height: 3.0224rem;
      position: absolute;
    }
    .map-pin-ekh {
      vertical-align: top;
      width: 2.2665rem;
      height: 2.7702rem;
      position: absolute;
      left: 14.3777rem;
      top: 31.3259rem;
      object-fit: contain;
    }
    .company-Zsf {
      white-space: nowrap;
      width: 17.6rem;
      position: absolute;
      top: 19.2rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      height: 5.4rem;
      left: 68rem;
      font-size: 3.6rem;
      line-height: 1.5;
    }
    .explore-sNZ {
      width: 13rem;
      left: 113.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      height: 5.4rem;
      position: absolute;
      top: 19.2rem;
      font-size: 3.6rem;
      line-height: 1.5;
    }
    .services-N4R {
      font-weight: 500;
      line-height: 1.5;
      height: 5.4rem;
      position: absolute;
      top: 19.2rem;
      font-size: 3.6rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.2rem;
      left: 154.6rem;
    }
  }
}
